<p-tabView  [controlClose]="true" (onClose)="onTabClose($event)"(onChange)="onTabChange($event)">

    <p-tabPanel *ngFor="let tab of tabs" header="{{tab.menuName}}" [selected]="tab.isSelected" [closable]="tab.isClosable">

        {{tab.content}} {{tab.menuId}}

        <div *ngIf="!tab.isClosable">

            <button pButton type="button" label="Click"></button>
        </div>


        <div *ngIf="tab.isClosable">

            <div>

                <button pButton type="button"  (click)="refreshGrid(tab.menuId)" label="Refresh"></button>
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="cars" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
    <p-header>List of Cars</p-header>
    <p-column field="vin" header="Vin (startsWith)" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="year" header="Year ({{yearFilter||'No Filter'}})" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
        </ng-template>
    </p-column>
    <p-column field="brand" header="Brand (Custom)" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
        </ng-template>
    </p-column>
    <p-column field="color" header="Color (Custom)" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
        </ng-template>
    </p-column>
</p-dataTable>
                
            </div>

                <p-dataTable [value]="cars">
                    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>

                </p-dataTable>
            </div>

<p-column field="vin" header="Vin" [sortable]="true"></p-column>


                
        <!--
<label>Yeni Menü Adı: <input #newMenuName /></label>
<button (click)="addHero(newHeroName.value); newHeroName.value=''">Menü Ekle</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>


        <p-fieldset legend="Arama Kriterleri">
            Buraya dinamik fieldlar gelecek
        </p-fieldset>
        

        <p-toolbar>

            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="New" icon="fa-plus"></button>
                <button pButton type="button" label="Open" icon="fa-folder-open"></button>
                <button pButton type="button" (click)="onclick()" label="Click"></button>

                <i class="fa fa-bars"></i>

            </div>

            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="fa-search"></button>
                <i class="fa fa-bars"></i>
                <button pButton type="button" icon="fa-refresh"></button>
                <button pButton type="button" icon="fa-trash"></button>
            </div>
        </p-toolbar>

-->

    </p-tabPanel>

</p-tabView>


