<p-tabView (onClose)="onTabClose($event)" (onChange)="onTabChange($event)">

    <p-tabPanel *ngFor="let tab of tabs" header="{{tab.menuName}}" [selected]="tab.isSelected" [closable]="tab.isClosable">

        {{tab.content}}
        {{tab.menuId}}


        <div *ngIf="!tab.isClosable">

            <button pButton type="button" label="Click"></button>
        </div>


        <div *ngIf="tab.isClosable">

            <div>

                <button pButton type="button"  (click)="refreshGrid(tab.menuId)" label="Refresh"></button>
            </div>

            <div>

                <p-dataTable [value]="cars">
                    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
                </p-dataTable>
            </div>
        </div>



        <!--
<label>Yeni Menü Adı: <input #newMenuName /></label>
<button (click)="addHero(newHeroName.value); newHeroName.value=''">Menü Ekle</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>


        <p-fieldset legend="Arama Kriterleri">
            Buraya dinamik fieldlar gelecek
        </p-fieldset>
        

        <p-toolbar>

            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="New" icon="fa-plus"></button>
                <button pButton type="button" label="Open" icon="fa-folder-open"></button>
                <button pButton type="button" (click)="onclick()" label="Click"></button>

                <i class="fa fa-bars"></i>

            </div>

            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="fa-search"></button>
                <i class="fa fa-bars"></i>
                <button pButton type="button" icon="fa-refresh"></button>
                <button pButton type="button" icon="fa-trash"></button>
            </div>
        </p-toolbar>

-->

    </p-tabPanel>

</p-tabView>